PORT=8787
CORS_ORIGIN=https://counteragent.netlify.app,https://counteragent.perkos.xyz
DEFAULT_CHAIN_ID=84532
BASE_RPC_URL=https://sepolia.base.org
MERCHANT_REGISTRY_ADDRESS=<MERCHANT_REGISTRY_ADDRESS>
MONITOR_AGENT_URL=http://monitor-plugin:8788
ENS_PARENT_NAME=counteragent.eth
ORCHESTRATOR_INTERNAL_TOKEN=<GENERATE_WITH_OPENSSL_RAND_HEX_32>
