AGENT_NAME=a1-monitor
AGENT_ROLE=counteragent-monitor
OPENAI_API_KEY=<OPENAI_API_KEY>
OPENCLAW_TOKEN=<GENERATE_WITH_OPENSSL_RAND_HEX_32>
A1_DOMAIN=monitor.counteragent.perkos.xyz
BASE_RPC_URL=<BASE_RPC_URL>
BASE_SEPOLIA_RPC_URL=<BASE_SEPOLIA_RPC_URL>
ENS_RPC_URL=<ENS_RPC_URL>
MERCHANT_REGISTRY_ADDRESS=<MERCHANT_REGISTRY_ADDRESS>
