PORT=8788
CORS_ORIGIN=https://counteragent.netlify.app
ENS_RPC_URL=<ETHEREUM_SEPOLIA_RPC_URL>
ENS_REGISTRY_ADDRESS=0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e
ENS_PUBLIC_RESOLVER_ADDRESS=0xE99638b40E4Fff0129D56f03b55b6bbC4BBE49b5
ENS_REGISTRAR_ADDRESS=0x1e25Aac761220e991DD65f8Cd74045007AbAa445
ENS_PARENT_NAME=counteragents.eth
MERCHANT_REGISTRY_ADDRESS=0x9857d987F57607b1e6431Ab94D26a866870b7a3D
A1_ENS_MONITOR_PRIVATE_KEY=<PRIVATE_KEY_SERVER_SIDE_ONLY>
IPFS_PLUGIN_URL=http://ipfs-pinata-plugin:8793
PINATA_JWT=<PINATA_SERVER_SIDE_JWT>
PINATA_GATEWAY_URL=https://gateway.pinata.cloud/ipfs
ENS_PROFILE_IMAGE_MAX_BYTES=10000000
