NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=<DYNAMIC_ENVIRONMENT_ID>
NEXT_PUBLIC_CHAIN=baseSepolia
NEXT_PUBLIC_MERCHANT_REGISTRY_ADDRESS=<MERCHANT_REGISTRY_ADDRESS>
NEXT_PUBLIC_A0_URL=https://orchestrator.counteragent.perkos.xyz
