NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=<DYNAMIC_ENVIRONMENT_ID>
NEXT_PUBLIC_CHAIN=baseSepolia
NEXT_PUBLIC_MERCHANT_REGISTRY_ADDRESS=0x9857d987F57607b1e6431Ab94D26a866870b7a3D
NEXT_PUBLIC_A0_URL=https://orchestrator.counteragents.cc
