AGENT_NAME=a4-reporting
AGENT_ROLE=counteragent-reporting
OPENAI_API_KEY=<OPENAI_API_KEY>
OPENCLAW_TOKEN=<GENERATE_WITH_OPENSSL_RAND_HEX_32>
A4_DOMAIN=reporting.counteragent.perkos.xyz
ZERO_G_RPC_URL=<ZERO_G_RPC_URL>
ZERO_G_PRIVATE_KEY=<ZERO_G_PRIVATE_KEY>
TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>
