PORT=8788
CORS_ORIGIN=https://counteragent.netlify.app
ENS_RPC_URL=<ETHEREUM_SEPOLIA_RPC_URL>
ENS_REGISTRY_ADDRESS=0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e
ENS_PUBLIC_RESOLVER_ADDRESS=0xE99638b40E4Fff0129D56f03b55b6bbC4BBE49b5
ENS_REGISTRAR_ADDRESS=0x0Afa6ac03a1f60ECD67EDAAb921dea9d4D7Be972
ENS_PARENT_NAME=counteragent.eth
MERCHANT_REGISTRY_ADDRESS=0xd532D7C9Ddc28d16601FaA5Cc6F54cDABb703C28
A1_ENS_MONITOR_PRIVATE_KEY=<PRIVATE_KEY_SERVER_SIDE_ONLY>
